/*This is the CSS for the homepage for the MovieDataBase*/

body {
    font-family: Tahoma,sans-serif;
    text-align: center;
    color: #f5f6f7;
    font-size: 32px;
    background-color: #1b1b32;
}

.card {
    background-color: #032541;
}
#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie_item {
    margin: 1rem;
    text-align: center;
    color: #f5f6f7;
    font-size: 25px;
    max-width: 500px;
}

.title {
    padding-top: 16px;
}

.movie_img_rounded {
    border-radius: 3rem;
}