/*This is the CSS for the homepage for the MovieDataBase*/

body {
    font-family: 'Verdana','sans-serif';
    text-align: left;
    color: #f5f6f7;
    font-size: 16px;
    background-color: #1b1b32;
}

nav{
    text-align: center;
    font-family: 'Verdana', 'Geneva,' 'Tahoma', 'sans-serif';
    font-size: 32px;
    
}

a:link{
    color:#f5f6f7;
    text-decoration: none;



}

a:visited{
    color:#f5f6f7;
    text-decoration: none;
}

a:hover{
    color:rgb(137, 13, 13);
}
h1,h2,h3
{
    font-size: 24px;
}

.card {
    background-color: #032541;
}
#movies , #tv_shows, #actors{
    display: flex;
    flex-wrap: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
}

.movie_item, .tv_item,.actor_item{

    flex: 0 0 auto;
    margin-right: 10px;
    white-space: nowrap;
    /*margin: 1rem;
    text-align: center;
    color: #f5f6f7;
    font-size: 25px;
    max-width: 500px;*/
}

.actor_item img{
    max-height:400px;
    
    margin-left: 120px;
    margin-right: none;
    
}

.title {
    padding-top: 16px;
    text-align: center;

    /*Truncate long titles*/
    overflow:hidden;
    white-space: nowrap;
    width:500px;
    text-overflow: ellipsis;


}

.movie_img_rounded,.tv_image_rounded,.actorImageRounded {
    border-radius: 3rem;
}




/*Hide the horizontal scroll bars */

/* Hide scrollbar for Chrome, Safari and Opera */
#movies::-webkit-scrollbar,
#tv_shows::-webkit-scrollbar,#actors::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#movies,#tv_shows,#actors {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


